.nice_header{
    /* display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 14px; */
    width: 100%;
    position: relative;
    font-size: 0px;
    padding: 8px 10px;
}
.nice_left_header{
    width: 20%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.nice_middle_header{
    width: 55%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.nice_right_header{
    width: 25%;
    display: inline-block;
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
}
.searchbar{
    position: relative;
    margin-left: 10px;
    color: #a79b9b;
    /* display: inline-block; */
}
.search_content{
    width: 100%;
    position: relative;
    font-size: 0px;
}
.search_content >svg{
    display: inline-block;
    font-size: 14px;
}
.search_content>li:first-child{
    width: 5%;
}
.search_content>li:last-child{
    width: 95%;
}
.search_content>li{
    display: inline-block;
    vertical-align: middle;
}
.search_icon{
    position: absolute;
    right: 46%;
    top:7px
}
.searchbar >input{
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    width: 55%;
}
.right_iocn{
    font-size: 28px !important;
    margin: 0px 10px;
}
.img_icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: inline-block;
}
.right_cont{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    color: #012970;
    margin-left: 10px;
}
.menu_icon{
    font-size: 32px !important;
    color: #012970;
}
.right_img >p{
    color: #012970;
    display: inline-block;
}
.right_img{
    display: inline-block;
    vertical-align: middle;
}

.main_header{
    position: fixed;
    font-size: 0px;
    width: 100%;
    top: 0px;
    z-index: 999;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    height: 60px;
    background-color: #fff;
}
.logo_content{
    display: flex;
    align-items: center;
}
.logo_content >h3{
    font-size: 26px;
}
.logo_content >img{
    width: 26px;
}
/* pop up css */
.popup_nft{
    border: 1px solid #ccc;
    position: absolute;
    right: 15%;
    width: 150px;
    top: 39px;
    background: #fff;
    padding: 5px;
    font-size: 14px;
    display: none;  
}
#myDIV{
    
}