@import '../../../theme.json';
:root {
    --text-color: black;
    --background-color: white;
    --logo-color: #012970;
  }
  
  [data-theme="dark"] {
    --text-color: #fff;
    --background-color: #000;
    --logo-color: #fff;
  }
  .main_header {
    color: var(--text-color);
    background-color: var(--background-color);
  }
.nice_header{
    width: 100%;
    position: relative;
    font-size: 0px;
    padding: 8px 10px;
}
.nice_left_header{
    width: 20%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.nice_middle_header{
    width: 50%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.nice_right_header{
    width: 30%;
    display: inline-block;
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
}
.searchbar{
    position: relative;
    margin-left: 10px;
    color: #a79b9b;
    /* display: inline-block; */
}
.search_content{
    width: 100%;
    position: relative;
    font-size: 0px;
}
.search_content >svg{
    display: inline-block;
    font-size: 14px;
}
.search_content>li:first-child{
    width: 5%;
}
.search_content>li:last-child{
    width: 95%;
}
.search_content>li{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.search_icon{
    position: absolute;
    right: 46%;
    top:7px
}
.searchbar >input{
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    width: 55%;
}
.right_iocn{
    font-size: 28px !important;
    margin: 0px 10px;
    color: var(--text-color);
}
.img_icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: inline-block;
}
.right_cont{
    font-size: 0px;
    width: 100%;
    position: relative;
}
.right_cont >li{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    padding-right: 8px;
    cursor: pointer;
}
.logo{
    color:  var(--logo-color);
    margin-left: 10px;
}
.menu_icon{
    font-size: 32px !important;
    color: var(--text-color);
}
.right_img >p{
    color:var(--text-color);
    display: inline-block;
}
.right_img{
    display: inline-block;
    vertical-align: middle;
}
.right_img >svg{
    color: var(--text-color);
}
.main_header{
    position: fixed;
    font-size: 0px;
    width: 100%;
    top: 0px;
    z-index: 999;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    height: 60px;
    /* background-color: #fff; */
    
}
.logo_content{
    display: flex;
    align-items: center;
}
.logo_content >h3{
    font-size: 26px;
}
.logo_content >img{
    width: 26px;
}
/* pop up css */
.data-container {
    transition: opacity 0.5s ease-in-out;
  }
  
  .hide {
    opacity: 0;
    pointer-events: none;
    height: 0;
    overflow: hidden;
  }
  .show {
    opacity: 1;
    pointer-events: auto;
    height: auto;
    overflow: visible;
    font-size: 14px;
    position: absolute;
    right: 10%;
    width: 150px;
    top: 60px;
    background-color:var(--background-color);
    /* background-color: #fff; */
    padding: 5px;
    border-radius: 9px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  .ntf_icon{
    font-size: 28px !important;
    color: var(--text-color);;
}
.dark{
    background-color:#000;
}
 .toggle-theme {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 45px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: -4px;
    right: -3px;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeyTUQrD3iinwYO4dMQT-obXZkt5AycuRTbO4T8Xlr-LSTloSj69PMXvVQvFw4PHu8Kfk&usqp=CAU');
    bottom: 4px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHhVw8VnokAzmjy8byhiQQexBP945QwLjFQA&usqp=CAU');
    width: 20px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  input:checked + .slider {
    background-color: var(--text-color);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .chatbox_main{
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 99;
    /* padding: 10px; */
    height: 100%;
  }
