.body_main{
    position: relative;
    width: calc(100% - 250px);
    padding: 80px 30px 20px 30px;
    left: 250px;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
:root {
    --text-color: black;
    --background-color: white;
  }
  
  [data-theme="dark"] {
    --text-color: #000;
    --background-color: black;
  }
  
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }

